mixin documents()

    section.section-box.documents
        .container
            h2.documents__title Нормативные документы
            .documents__box
                h3.documents__sub-title Раскрытие информации
                .documents__grid

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/pdf.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/pdf.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/pdf.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/pdf.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/pdf.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/pdf.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

    section.section-box.documents
        .container
            .documents__box
                h3.documents__sub-title Бухгалтерская отчетность
                .documents__grid

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/doc.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/doc.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/doc.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/doc.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/doc.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года

                    a.documents__item(href="#")
                        .documents__image
                            img(src="static/img/general/doc.png" alt="pdf")
                        .documents__description Изменения от<br> 24 февраля 2016 года
