mixin videoteka()

    section.section-box.videoteka
        .container
            h2.videoteka__title Видео материалы
            
            .videoteka__grid
            
                a.videoteka__item(href="#")
                    .videoteka__image
                        img(src="static/img/general/video1.jpg" alt="image video")
                        .videoteka__play-box
                            img(src="static/img/general/play.png" alt="image video")

                    .videoteka__content
                        p Podium Concept Store на Петровке и презентация ювелирной коллекции Яны Расковаловой.
                        
                        .static-bar.static-bar--arts

                            .static-bar__item
                                i.mdi.mdi-clock
                                span 29/10/2016
                                             
                            .static-bar__item
                                i.mdi.mdi-eye-outline
                                span 456
                                            
                a.videoteka__item(href="#")
                    .videoteka__image
                        img(src="static/img/general/video1.jpg" alt="image video")
                        .videoteka__play-box
                            img(src="static/img/general/play.png" alt="image video")

                    .videoteka__content
                        p Podium Concept Store на Петровке и презентация ювелирной коллекции Яны Расковаловой.
                        
                        .static-bar.static-bar--arts

                            .static-bar__item
                                i.mdi.mdi-clock
                                span 29/10/2016
                                             
                            .static-bar__item
                                i.mdi.mdi-eye-outline
                                span 456
                                            
                a.videoteka__item(href="#")
                    .videoteka__image
                        img(src="static/img/general/video1.jpg" alt="image video")
                        .videoteka__play-box
                            img(src="static/img/general/play.png" alt="image video")

                    .videoteka__content
                        p Podium Concept Store на Петровке и презентация ювелирной коллекции Яны Расковаловой.
                        
                        .static-bar.static-bar--arts

                            .static-bar__item
                                i.mdi.mdi-clock
                                span 29/10/2016
                                             
                            .static-bar__item
                                i.mdi.mdi-eye-outline
                                span 456
                                            
                a.videoteka__item(href="#")
                    .videoteka__image
                        img(src="static/img/general/video1.jpg" alt="image video")
                        .videoteka__play-box
                            img(src="static/img/general/play.png" alt="image video")

                    .videoteka__content
                        p Podium Concept Store на Петровке и презентация ювелирной коллекции Яны Расковаловой.
                        
                        .static-bar.static-bar--arts

                            .static-bar__item
                                i.mdi.mdi-clock
                                span 29/10/2016
                                             
                            .static-bar__item
                                i.mdi.mdi-eye-outline
                                span 456
                                            
                a.videoteka__item(href="#")
                    .videoteka__image
                        img(src="static/img/general/video1.jpg" alt="image video")
                        .videoteka__play-box
                            img(src="static/img/general/play.png" alt="image video")

                    .videoteka__content
                        p Podium Concept Store на Петровке и презентация ювелирной коллекции Яны Расковаловой.
                        
                        .static-bar.static-bar--arts

                            .static-bar__item
                                i.mdi.mdi-clock
                                span 29/10/2016
                                             
                            .static-bar__item
                                i.mdi.mdi-eye-outline
                                span 456
                                            
                a.videoteka__item(href="#")
                    .videoteka__image
                        img(src="static/img/general/video1.jpg" alt="image video")
                        .videoteka__play-box
                            img(src="static/img/general/play.png" alt="image video")

                    .videoteka__content
                        p Podium Concept Store на Петровке и презентация ювелирной коллекции Яны Расковаловой.
                        
                        .static-bar.static-bar--arts

                            .static-bar__item
                                i.mdi.mdi-clock
                                span 29/10/2016
                                             
                            .static-bar__item
                                i.mdi.mdi-eye-outline
                                span 456
                                            
                a.videoteka__item(href="#")
                    .videoteka__image
                        img(src="static/img/general/video1.jpg" alt="image video")
                        .videoteka__play-box
                            img(src="static/img/general/play.png" alt="image video")

                    .videoteka__content
                        p Podium Concept Store на Петровке и презентация ювелирной коллекции Яны Расковаловой.
                        
                        .static-bar.static-bar--arts

                            .static-bar__item
                                i.mdi.mdi-clock
                                span 29/10/2016
                                             
                            .static-bar__item
                                i.mdi.mdi-eye-outline
                                span 456
                                            
                a.videoteka__item(href="#")
                    .videoteka__image
                        img(src="static/img/general/video1.jpg" alt="image video")
                        .videoteka__play-box
                            img(src="static/img/general/play.png" alt="image video")

                    .videoteka__content
                        p Podium Concept Store на Петровке и презентация ювелирной коллекции Яны Расковаловой.
                        
                        .static-bar.static-bar--arts

                            .static-bar__item
                                i.mdi.mdi-clock
                                span 29/10/2016
                                             
                            .static-bar__item
                                i.mdi.mdi-eye-outline
                                span 456
                                            
                a.videoteka__item(href="#")
                    .videoteka__image
                        img(src="static/img/general/video1.jpg" alt="image video")
                        .videoteka__play-box
                            img(src="static/img/general/play.png" alt="image video")

                    .videoteka__content
                        p Podium Concept Store на Петровке и презентация ювелирной коллекции Яны Расковаловой.
                        
                        .static-bar.static-bar--arts

                            .static-bar__item
                                i.mdi.mdi-clock
                                span 29/10/2016
                                             
                            .static-bar__item
                                i.mdi.mdi-eye-outline
                                span 456
                                
                        
                
            