mixin brand-info()

	section.section-box.brand-info
		.container
		
			.brand-info__card

				.brand-info__card-info		

					.brand-info__card-info-body

						.brand-info__card-info-slider
							.brand-info__card-info-slider-screen.js-brand-info-screen
							
								.brand-info__card-info-slider-screen-item
									img(src="static/img/general/brandbig1.jpg" alt="guines")
							
								.brand-info__card-info-slider-screen-item
									img(src="static/img/general/brandbig1.jpg" alt="guines")
							
								.brand-info__card-info-slider-screen-item
									img(src="static/img/general/brandbig1.jpg" alt="guines")

							.brand-info__card-info-slider-screen-nav.js-brand-info-screen-nav
							
								.brand-info__card-info-slider-screen-nav-item
									img(src="static/img/general/brandbig1.jpg" alt="guines")
							
								.brand-info__card-info-slider-screen-nav-item
									img(src="static/img/general/brandbig1.jpg" alt="guines")
							
								.brand-info__card-info-slider-screen-nav-item
									img(src="static/img/general/brandbig1.jpg" alt="guines")




						.brand-info__card-info-content
							h2.brand-info__title Barons de Rothschild

							p В 2005 году три ветви виноделов знаменитой семьи Ротшильд объединились, чтобы создать уникальную компанию — Дом шампанских вин Champagne Barons de Rothschild. Бенджамин де Ротшильд (владелец Шато Кларк и Шато Пейре-Лебад), Эрик де Ротшильд (владелец Шато Лафит и Домена Барон де Ротшильд) и Филипп де Ротшильд (владелец Шато Мутон Ротшильд) стали владельцами пожалуй самого молодого Дома шампанских вин в регионе. Производство базируется в Реймсе. Виноград закупается на основе долгосрочных контрактов у владельцев участков класса Премье и Гран Крю, в частности — в Кот де Блан. 

				.brand-info__card-slider.js-brand-card-slider

					a.brand-info__card-slider-grid-item(href="#")
						.brand-info__card-slider-grid-item-body
							img(src="static/img/general/guines.jpg" alt="guines")

					a.brand-info__card-slider-grid-item(href="#")
						.brand-info__card-slider-grid-item-body
							img(src="static/img/general/guines.jpg" alt="guines")

					a.brand-info__card-slider-grid-item(href="#")
						.brand-info__card-slider-grid-item-body
							img(src="static/img/general/guines.jpg" alt="guines")

					a.brand-info__card-slider-grid-item(href="#")
						.brand-info__card-slider-grid-item-body
							img(src="static/img/general/guines.jpg" alt="guines")

					a.brand-info__card-slider-grid-item(href="#")
						.brand-info__card-slider-grid-item-body
							img(src="static/img/general/guines.jpg" alt="guines")

					a.brand-info__card-slider-grid-item(href="#")
						.brand-info__card-slider-grid-item-body
							img(src="static/img/general/guines.jpg" alt="guines")

					a.brand-info__card-slider-grid-item(href="#")
						.brand-info__card-slider-grid-item-body
							img(src="static/img/general/guines.jpg" alt="guines")


