mixin static-bar()

    .static-bar
    
        .static-bar__item
            i.mdi.mdi-clock
            span 29/10/2016
            
        .static-bar__item
            span Поделиться: 
            .static-bar__social
                a.mdi.mdi-vk(href="#")
                a.mdi.mdi-facebook(href="#")
                a.mdi.mdi-twitter(href="#")
                