mixin clients-buisnes()

    .clients
    
        a.clients__item(href="#")
            img(src="static/img/general/b1.jpg" alt="project")
            .clients__title
                div
                    .clients__description Магазинам
    
        
        a.clients__item(href="#")
            img(src="static/img/general/b2.jpg" alt="project")
            .clients__title
                div
                    .clients__description Ресторанам/Отелям

    .clients
    
        a.clients__item(href="#")
            img(src="static/img/general/b3.jpg" alt="project")
            .clients__title
                div
                    .clients__description Региональным клиентам
    
        
        a.clients__item(href="#")
            img(src="static/img/general/b4.jpg" alt="project")
            .clients__title
                div
                    .clients__description Дистрибуторам

    .clients
    
        a.clients__item(href="#")
            img(src="static/img/general/b5.jpg" alt="project")
            .clients__title
                div
                    .clients__description Транспортным компаниям
    
        
        a.clients__item(href="#")
            img(src="static/img/general/b6.jpg" alt="project")
            .clients__title
                div
                    .clients__description Корпоративным клиентам
