mixin promo-jobs()

	.section-box.promo-jobs
		.container
			.promo-jobs__message "Корпоративная культура АСТ - вот то, что, без сомнения, я люблю больше всего в своей работе. Здесь не просто разрешается свободный обмен идеями -он поощряется"
