mixin footer(data)
    footer.footer
    
        .container
            .footer__grid
            
                .footer__menu-grid
                    .footer__menu-box
                        

                        .footer__menu-box-item
                            h6.footer__menu-title О компании
                            ul

                                li.footer__menu-list 
                                    a(href="#") Руководство

                                li.footer__menu-list 
                                    a(href="#") История

                                li.footer__menu-list 
                                    a(href="#") Команда

                                li.footer__menu-list 
                                    a(href="#") Будущее АСТ

                                li.footer__menu-list 
                                    a(href="#") Новости

                                li.footer__menu-list 
                                    a(href="#") Медиатека

                                li.footer__menu-list 
                                    a(href="#") Документы

                                li.footer__menu-list 
                                    a(href="#") Промо акции

                                li.footer__menu-list 
                                    a(href="#") Контакты
                
                        .footer__menu-box-item
                            h6.footer__menu-title Ассортимент
                            ul

                                li.footer__menu-list 
                                    a(href="#") Вино

                                li.footer__menu-list 
                                    a(href="#") Игристое

                                li.footer__menu-list 
                                    a(href="#") Шампанское

                                li.footer__menu-list 
                                    a(href="#") Коньяк

                                li.footer__menu-list 
                                    a(href="#") Виски

                                li.footer__menu-list 
                                    a(href="#") Крепкие напитки

                                li.footer__menu-list 
                                    a(href="#") Вода 

                                li.footer__menu-list 
                                    a(href="#") Соки

                                li.footer__menu-list 
                                    a(href="#") Стекло
                                
                        .footer__menu-box-item
                            h6.footer__menu-title Проекты
                            ul

                                li.footer__menu-list 
                                    a(href="#") АСТ-импортер

                                li.footer__menu-list 
                                    a(href="#") АСТ-стм

                                li.footer__menu-list 
                                    a(href="#") Wine-room

                                li.footer__menu-list 
                                    a(href="#") АСТ-дистрибутор

                                li.footer__menu-list 
                                    a(href="#") E-commerce

                            h6.footer__menu-title Проекты
                            
                            ul
                            
                                li.footer__menu-list 
                                    a(href="#") Фотографии
                                            
                                li.footer__menu-list 
                                    a(href="#") Видео материалы
                      
                      
                                
                        .footer__menu-box-item
                            h6.footer__menu-title Клиентам
                            ul

                                li.footer__menu-list 
                                    a(href="#") Ресторанам

                                li.footer__menu-list 
                                    a(href="#") Магазинам

                                li.footer__menu-list 
                                    a(href="#") Дистрибуторам

                                li.footer__menu-list 
                                    a(href="#") АСТ-дистрибутор

                                li.footer__menu-list 
                                    a(href="#") Корпоративным<br>клиентам

                                li.footer__menu-list 
                                    a(href="#") Частным клиентам

                .footer__menu-contacts
                
                    .footer__contacts-box
                        a(href="tel:84952580037").footer__contacts-link <i class="mdi mdi-cellphone-iphone"></i> Москва: (495) 258 00 37
                        a(href="#").footer__contacts-link.footer__contacts-link--addres <i class="mdi mdi-map-marker"></i> Каширский проезд,  д.23, стр. 4
                            span.footer__link-map Показать на карте
                        a(href="mailto:ast.info@ast-inter.ru").footer__contacts-link <i class="mdi mdi-email-outline"></i> ast.info@ast-inter.ru
                        
                        +social-link()
                        +search-block()
                        
                        .footer__copyright Все права защищены "ACT" 2016


                        
                
                
            