mixin jobs-slider()

	.section-box.jobs-slider
	

		.jobs-slider__bg-r
			img(src="static/img/general/jobsbg2.png")

		.jobs-slider__bg-l
			img(src="static/img/general/jobsbg1.png")

		.container
			.jobs-slider__box.js-jobs-slider
			
			
				div

					.jobs-slider__item
						.jobs-slider__image
							img(src="static/img/general/face.png" class="is-desktop" alt="ast")

						.jobs-slider__content
							p "Корпоративная культура АСТ - вот то, что, без сомнения, я люблю больше всего в своей работе. Здесь не просто разрешается свободный обмен идеями - он поощряется"
							p.signature Вадим Вениаминович, отдел маркетинга


									
				div

					.jobs-slider__item
						.jobs-slider__image
							img(src="static/img/general/face.png" class="is-desktop" alt="ast")

						.jobs-slider__content
							p "Корпоративная культура АСТ - вот то, что, без сомнения, я люблю больше всего в своей работе. Здесь не просто разрешается свободный обмен идеями - он поощряется"
							p.signature Вадим Вениаминович, отдел маркетинга


									
				div

					.jobs-slider__item
						.jobs-slider__image
							img(src="static/img/general/face.png" class="is-desktop" alt="ast")

						.jobs-slider__content
							p "Корпоративная культура АСТ - вот то, что, без сомнения, я люблю больше всего в своей работе. Здесь не просто разрешается свободный обмен идеями - он поощряется"
							p.signature Вадим Вениаминович, отдел маркетинга


									
				div

					.jobs-slider__item
						.jobs-slider__image
							img(src="static/img/general/face.png" class="is-desktop" alt="ast")

						.jobs-slider__content
							p "Корпоративная культура АСТ - вот то, что, без сомнения, я люблю больше всего в своей работе. Здесь не просто разрешается свободный обмен идеями - он поощряется"
							p.signature Вадим Вениаминович, отдел маркетинга


						

			