mixin share()

    .share
    
        .share__title Поделиться новостью:
    
    
        .share__box   

            a.share__item.share__item--vk(href="#" target="_blank")
                i.mdi.mdi-vk

            a.share__item.share__item--facebook(href="#" target="_blank")
                i.mdi.mdi-facebook

            a.share__item.share__item--twitter(href="#" target="_blank")
                i.mdi.mdi-twitter
