mixin projects()

    section.section-box.projects
        .container
            h2.projects__title Проекты компании АСТ
            
            a.projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/projects1.jpg" alt="project")
                    .projects__grid-title
                        h6 АСТ-Импорт
                        .projects__reed-more Подробнее ›           
                .projects__content
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. Сегодня компания является одним из лидеров среди поставщиков премиального алкоголя для Москвы и регионов России. Девиз компании – «Стабильность и долгосрочное сотрудничество».
                            
            a.projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/projects2.jpg" alt="project")
                    .projects__grid-title
                        h6 АСТ-СТМ
                        .projects__reed-more Подробнее ›           
                .projects__content
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. Сегодня компания является одним из лидеров среди поставщиков премиального алкоголя для Москвы и регионов России. Девиз компании – «Стабильность и долгосрочное сотрудничество».
                            
            a.projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/projects3.jpg" alt="project")
                    .projects__grid-title
                        h6 WINE-ROOM
                        .projects__reed-more Подробнее ›           
                .projects__content
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. Сегодня компания является одним из лидеров среди поставщиков премиального алкоголя для Москвы и регионов России. Девиз компании – «Стабильность и долгосрочное сотрудничество».
                            
            a.projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/projects4.jpg" alt="project")
                    .projects__grid-title
                        h6 АСТ-ДИСТРИБУТОР
                        .projects__reed-more Подробнее ›           
                .projects__content
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. Сегодня компания является одним из лидеров среди поставщиков премиального алкоголя для Москвы и регионов России. Девиз компании – «Стабильность и долгосрочное сотрудничество».
                                            
            a.projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/projects4.jpg" alt="project")
                    .projects__grid-title
                        h6 E-COMMERCE
                        .projects__reed-more Подробнее ›           
                .projects__content
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. Сегодня компания является одним из лидеров среди поставщиков премиального алкоголя для Москвы и регионов России. Девиз компании – «Стабильность и долгосрочное сотрудничество».
                