mixin rukovodstvo-services()

	section.section-box.index-services.index-services--about
		.container
			.index-services__grid
			
				.index-services__item.index-services__item--about
					h6.index-services__title Руководство
					img(src="static/img/general/serv1-1.png" alt="serv")
						
				.index-services__item.index-services__item--about
					img(src="static/img/general/serv2-2.png" alt="serv")
					h6.index-services__title История
									
				.index-services__item.index-services__item--about.index-services__item--left-min
					h6.index-services__title Карьера
					img(src="static/img/general/serv3-3.png" alt="serv")
												
				.index-services__item.index-services__item--about
					img(src="static/img/general/serv4-4.png" alt="serv")
					h6.index-services__title Будущее компании