mixin social-link()

    .social-link
    
        a.social-link__item.social-link__item--vk(href="#" target="_blank")
            i.mdi.mdi-vk
        
        a.social-link__item.social-link__item--facebook(href="#" target="_blank")
            i.mdi.mdi-facebook
            
        a.social-link__item.social-link__item--twitter(href="#" target="_blank")
            i.mdi.mdi-twitter
                
        a.social-link__item.social-link__item--instagram(href="#" target="_blank")
            i.mdi.mdi-instagram
                    
        a.social-link__item.social-link__item--youtube-play(href="#" target="_blank")
            i.mdi.mdi-youtube-play
    