mixin brands()


	.section-box.logotypes
		.container
			.logotypes__title
				h2 Бренд
				form.title-search
					input(placeholder="Поиск по брендам")
					button
						i.mdi.mdi-magnify
			
			.logotypes__grid
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
									
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
									
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
									
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
									
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
									
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
						