mixin news-services()

	section.section-box.index-services
		.container
			.index-services__grid
			
				.index-services__item.index-services__item--about
					h6.index-services__title Новости
					img(src="static/img/general/serv1-news.png" alt="image")
						
				.index-services__item.index-services__item--about
					img(src="static/img/general/serv2-news.png" alt="image")
					h6.index-services__title Акции/Промо
									
				.index-services__item.index-services__item--about.index-services__item--left-min
					h6.index-services__title Медиатека
					img(src="static/img/general/serv3-news.png" alt="image")
												
				.index-services__item.index-services__item--about
					img(src="static/img/general/serv4-news.png" alt="image")
					h6.index-services__title История