mixin brand-product-slider()

	section.section-box.brand-product-slider
	
		.container
			h2.brand-product-slider__title Товары бренда
			
			.brand-product-slider__grid.js-brand-product-slider
			
			
				a.brand-product-slider__item(href="#")
					.brand-product-slider__item-body(href="#")
						img(src="static/img/general/brandprod1.jpg" alt="vine")
						
						.brand-product-slider__item-title Шампанское<br>"Baron de Rothschild"<br>Brut, 1500 мл
						
						.brand-product-slider__options
							.brand-product-slider__options-item.brand-product-slider__options-item--title Цвет:
							.brand-product-slider__options-item.brand-product-slider__options-item--value белый

							.brand-product-slider__options-item.brand-product-slider__options-item--title Сахар:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Сухое

							.brand-product-slider__options-item.brand-product-slider__options-item--title Страна:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Франция

							.brand-product-slider__options-item.brand-product-slider__options-item--title Рейтинг:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 8,5

							.brand-product-slider__options-item.brand-product-slider__options-item--title RP:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 95
										
				a.brand-product-slider__item(href="#")
					.brand-product-slider__item-body(href="#")
						img(src="static/img/general/brandprod1.jpg" alt="vine")
						
						.brand-product-slider__item-title Шампанское<br>"Baron de Rothschild"<br>Brut, 1500 мл
						
						.brand-product-slider__options
							.brand-product-slider__options-item.brand-product-slider__options-item--title Цвет:
							.brand-product-slider__options-item.brand-product-slider__options-item--value белый

							.brand-product-slider__options-item.brand-product-slider__options-item--title Сахар:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Сухое

							.brand-product-slider__options-item.brand-product-slider__options-item--title Страна:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Франция

							.brand-product-slider__options-item.brand-product-slider__options-item--title Рейтинг:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 8,5

							.brand-product-slider__options-item.brand-product-slider__options-item--title RP:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 95
										
				a.brand-product-slider__item(href="#")
					.brand-product-slider__item-body(href="#")
						img(src="static/img/general/brandprod1.jpg" alt="vine")
						
						.brand-product-slider__item-title Шампанское<br>"Baron de Rothschild"<br>Brut, 1500 мл
						
						.brand-product-slider__options
							.brand-product-slider__options-item.brand-product-slider__options-item--title Цвет:
							.brand-product-slider__options-item.brand-product-slider__options-item--value белый

							.brand-product-slider__options-item.brand-product-slider__options-item--title Сахар:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Сухое

							.brand-product-slider__options-item.brand-product-slider__options-item--title Страна:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Франция

							.brand-product-slider__options-item.brand-product-slider__options-item--title Рейтинг:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 8,5

							.brand-product-slider__options-item.brand-product-slider__options-item--title RP:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 95
										
				a.brand-product-slider__item(href="#")
					.brand-product-slider__item-body(href="#")
						img(src="static/img/general/brandprod1.jpg" alt="vine")
						
						.brand-product-slider__item-title Шампанское<br>"Baron de Rothschild"<br>Brut, 1500 мл
						
						.brand-product-slider__options
							.brand-product-slider__options-item.brand-product-slider__options-item--title Цвет:
							.brand-product-slider__options-item.brand-product-slider__options-item--value белый

							.brand-product-slider__options-item.brand-product-slider__options-item--title Сахар:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Сухое

							.brand-product-slider__options-item.brand-product-slider__options-item--title Страна:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Франция

							.brand-product-slider__options-item.brand-product-slider__options-item--title Рейтинг:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 8,5

							.brand-product-slider__options-item.brand-product-slider__options-item--title RP:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 95
																	
				a.brand-product-slider__item(href="#")
					.brand-product-slider__item-body(href="#")
						img(src="static/img/general/brandprod1.jpg" alt="vine")
						
						.brand-product-slider__item-title Шампанское<br>"Baron de Rothschild"<br>Brut, 1500 мл
						
						.brand-product-slider__options
							.brand-product-slider__options-item.brand-product-slider__options-item--title Цвет:
							.brand-product-slider__options-item.brand-product-slider__options-item--value белый

							.brand-product-slider__options-item.brand-product-slider__options-item--title Сахар:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Сухое

							.brand-product-slider__options-item.brand-product-slider__options-item--title Страна:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Франция

							.brand-product-slider__options-item.brand-product-slider__options-item--title Рейтинг:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 8,5

							.brand-product-slider__options-item.brand-product-slider__options-item--title RP:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 95
																	
				a.brand-product-slider__item(href="#")
					.brand-product-slider__item-body(href="#")
						img(src="static/img/general/brandprod1.jpg" alt="vine")
						
						.brand-product-slider__item-title Шампанское<br>"Baron de Rothschild"<br>Brut, 1500 мл
						
						.brand-product-slider__options
							.brand-product-slider__options-item.brand-product-slider__options-item--title Цвет:
							.brand-product-slider__options-item.brand-product-slider__options-item--value белый

							.brand-product-slider__options-item.brand-product-slider__options-item--title Сахар:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Сухое

							.brand-product-slider__options-item.brand-product-slider__options-item--title Страна:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Франция

							.brand-product-slider__options-item.brand-product-slider__options-item--title Рейтинг:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 8,5

							.brand-product-slider__options-item.brand-product-slider__options-item--title RP:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 95
																	
				a.brand-product-slider__item(href="#")
					.brand-product-slider__item-body(href="#")
						img(src="static/img/general/brandprod1.jpg" alt="vine")
						
						.brand-product-slider__item-title Шампанское<br>"Baron de Rothschild"<br>Brut, 1500 мл
						
						.brand-product-slider__options
							.brand-product-slider__options-item.brand-product-slider__options-item--title Цвет:
							.brand-product-slider__options-item.brand-product-slider__options-item--value белый

							.brand-product-slider__options-item.brand-product-slider__options-item--title Сахар:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Сухое

							.brand-product-slider__options-item.brand-product-slider__options-item--title Страна:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Франция

							.brand-product-slider__options-item.brand-product-slider__options-item--title Рейтинг:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 8,5

							.brand-product-slider__options-item.brand-product-slider__options-item--title RP:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 95
																	
				a.brand-product-slider__item(href="#")
					.brand-product-slider__item-body(href="#")
						img(src="static/img/general/brandprod1.jpg" alt="vine")
						
						.brand-product-slider__item-title Шампанское<br>"Baron de Rothschild"<br>Brut, 1500 мл
						
						.brand-product-slider__options
							.brand-product-slider__options-item.brand-product-slider__options-item--title Цвет:
							.brand-product-slider__options-item.brand-product-slider__options-item--value белый

							.brand-product-slider__options-item.brand-product-slider__options-item--title Сахар:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Сухое

							.brand-product-slider__options-item.brand-product-slider__options-item--title Страна:
							.brand-product-slider__options-item.brand-product-slider__options-item--value Франция

							.brand-product-slider__options-item.brand-product-slider__options-item--title Рейтинг:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 8,5

							.brand-product-slider__options-item.brand-product-slider__options-item--title RP:
							.brand-product-slider__options-item.brand-product-slider__options-item--value 95
							