mixin production-services()

	section.section-box.index-services.index-services--about
		.container
			.index-services__grid.index-services__grid--two-line
			
				.index-services__item.index-services__item--about
					h6.index-services__title Вино
					img(src="static/img/general/prod1.png" alt="serv")
						
				.index-services__item.index-services__item--about
					img(src="static/img/general/prod2.png" alt="serv")
					h6.index-services__title Игристое
									
				.index-services__item.index-services__item--about.index-services__item--left-min
					h6.index-services__title Шампанское
					img(src="static/img/general/prod3.png" alt="serv")
												
				.index-services__item.index-services__item--about
					img(src="static/img/general/prod4.png" alt="serv")
					h6.index-services__title Коньяк
          
				.index-services__item.index-services__item--about
					h6.index-services__title Виски
					img(src="static/img/general/prod5.png" alt="serv")

				.index-services__item.index-services__item--about
					h6.index-services__title Крепкие напитки
					img(src="static/img/general/prod6.png" alt="serv")

						
				.index-services__item.index-services__item--about
					img(src="static/img/general/prod7.png" alt="serv")
					h6.index-services__title Вода
									
						
				.index-services__item.index-services__item--about
					img(src="static/img/general/prod8.png" alt="serv")
					h6.index-services__title Соки
									

				.index-services__item.index-services__item--about
					h6.index-services__title Стекло
					img(src="static/img/general/prod9.png" alt="serv")

