mixin nav()

		nav.navigate
			.container

					.navigate__container
						a.navigate__tab-link(href="")
							span Заявка
							i.styck-r

						a.navigate__tab-search.js-open-search(href="#")
							i
							
							
						.navigate__tab-menu
							a.navigate__tab-menu-item(href="#") О компании
							a.navigate__tab-menu-item(href="#") Новости
							a.navigate__tab-menu-item(href="#") Ассортимент
							a.navigate__tab-menu-item(href="#") b2b
							a.navigate__tab-menu-item(href="#") b2c
							a.navigate__tab-menu-item(href="#") Контакты
              
							form.navigate__search-form#nav-search
								input(type="search" placeholder="Поиск")
								button.navigate__search-go
									i
							
						.navigate__tab-phone
							a.navigate__tab-phone-num(href="tel:84952580037") +7 (495) 258 00 37
								i.styck-r
							a.navigate__tab-phone-description(href="#") Обратный звонок
							
						.navigate__lang
							a.navigate__lang-item eng
							a.navigate__lang-item.is-active рус
							
						

		
		
	