doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/example/example
    include ../components/index-slider/index-slider
    include ../components/index-about/index-about
    include ../components/rukovodstvo-services/rukovodstvo-services
    include ../components/index-partners/index-partners
    include ../components/index-news/index-news
    include ../components/index-comments/index-comments
    include ../components/header-min/header-min
    include ../components/social-link/social-link
    include ../components/search-block/search-block
    include ../components/history/history
    include ../components/mainbg/mainbg
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%
        +header-min()
        main.page__wrapper
            +mainbg()
            +rukovodstvo-services()
            +history()
        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')