doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/example/example
    include ../components/index-about/index-about
    include ../components/index-services/index-services
    include ../components/index-partners/index-partners
    include ../components/index-news/index-news
    include ../components/header/header
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%
        +header()
        main.page__wrapper
            +index-about()
            +index-services()
            +index-partners()
            +index-news()
                
        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')