mixin clients()

    .clients
    
        a.clients__item(href="#")
            img(src="static/img/general/cli1.jpg" alt="project")
            .clients__title
                div
                    h3 B2C
                    .clients__description Частным клиентам
    
        
        a.clients__item(href="#")
            img(src="static/img/general/cli2.jpg" alt="project")
            .clients__title
                div
                    h3 B2B
                    .clients__description Бизнесу
    