mixin news-article()

    section.section-box.news-article.typography
        .container
            .news-article__box
                .news-article__title
                    h1 Разработана схема продажи спиртного в интернете
                    .statics

                        .statics__item
                            i.mdi.mdi-clock
                            span 29/10/2016


                        .statics__item
                            i.mdi.mdi-eye-outline
                            span 20
                            
                            
                  
                p Российские ритейлеры вместе с участниками алкогольного рынка разработали схему продажи спиртного через интернет-магазины. По ней товар будут доставлять курьеры с терминалами для подключения к ЕГАИС и мобильной кассой, а оплата будет возможна только банковской картой. В правительстве предлагают сначала ввести досудебную блокировку нелегальных сайтов с алкоголем и разрешить онлайн-продажи сухого вина и пива, а потом, возможно, и остальной алкогольной продукции.
                                              
                p Российские ритейлеры вместе с участниками алкогольного рынка разработали схему продажи спиртного через интернет-магазины. По ней товар будут доставлять курьеры с терминалами для подключения к ЕГАИС и мобильной кассой, а оплата будет возможна только банковской картой. В правительстве предлагают сначала ввести досудебную блокировку нелегальных сайтов с алкоголем и разрешить онлайн-продажи сухого вина и пива, а потом, возможно, и остальной алкогольной продукции.
                                              
                h2 Разработана схема продажи спиртного в интернете  
                  
                p Российские ритейлеры вместе с участниками алкогольного рынка разработали схему продажи спиртного через интернет-магазины. По ней товар будут доставлять курьеры с терминалами для подключения к ЕГАИС и мобильной кассой, а оплата будет возможна только банковской картой. В правительстве предлагают сначала ввести досудебную блокировку нелегальных сайтов с алкоголем и разрешить онлайн-продажи сухого вина и пива, а потом, возможно, и остальной алкогольной продукции.
                   
                h3 Разработана схема продажи спиртного в интернете   
                                        
                ul
                    li Представители ритейлеров и компаний алкогольного рынка предложили схему продажи спиртного онлайн
                    li Представители ритейлеров и компаний алкогольного рынка предложили схему продажи спиртного онлайн, рассказали три источника в отрасли. По словам одного из них, в консультациях участвовали представители компаний Simple, ДП "Трейд", "Утконос", X5 Retail Group, Auchan, Metro Cash & Carry и отраслевых объединений, таких как Ассоциация компаний розничной торговли (АКОРТ), Комитет производителей алкогольной продукции, Союз виноделов России.
                    li Комитет производителей алкогольной продукции, Союз виноделов России.
                    
                h4 Разработана схема продажи спиртного в интернете 
                    
                ol
                    li Представители ритейлеров и компаний алкогольного рынка предложили схему продажи спиртного онлайн
                    li Представители ритейлеров и компаний алкогольного рынка предложили схему продажи спиртного онлайн, рассказали три источника в отрасли. По словам одного из них, в консультациях участвовали представители компаний Simple, ДП "Трейд", "Утконос", X5 Retail Group, Auchan, Metro Cash & Carry и отраслевых объединений, таких как Ассоциация компаний розничной торговли (АКОРТ), Комитет производителей алкогольной продукции, Союз виноделов России.
                    li Комитет производителей алкогольной продукции, Союз виноделов России.
                
                
                p Российские ритейлеры вместе с участниками алкогольного рынка разработали схему продажи спиртного через интернет-магазины. По ней товар будут доставлять курьеры с терминалами для подключения к ЕГАИС и мобильной кассой, а оплата будет возможна только банковской картой. В правительстве предлагают сначала ввести досудебную блокировку нелегальных сайтов с алкоголем и разрешить онлайн-продажи сухого вина и пива, а потом, возможно, и остальной алкогольной продукции.
            
                h5 Разработана схема продажи спиртного в интернете 
                
                p Российские ритейлеры вместе с участниками алкогольного рынка разработали схему продажи спиртного через интернет-магазины. По ней товар будут доставлять курьеры с терминалами для подключения к ЕГАИС и мобильной кассой, а оплата будет возможна только банковской картой. В правительстве предлагают сначала ввести досудебную блокировку нелегальных сайтов с алкоголем и разрешить онлайн-продажи сухого вина и пива, а потом, возможно, и остальной алкогольной продукции.
                            
                h6 Разработана схема продажи спиртного в интернете 
                
                p Российские ритейлеры вместе с участниками алкогольного рынка разработали схему продажи спиртного через интернет-магазины. По ней товар будут доставлять курьеры с терминалами для подключения к ЕГАИС и мобильной кассой, а оплата будет возможна только банковской картой. В правительстве предлагают сначала ввести досудебную блокировку нелегальных сайтов с алкоголем и разрешить онлайн-продажи сухого вина и пива, а потом, возможно, и остальной алкогольной продукции.
                
                .news-article__image-grid
                
                    .news-article__image-grid-item
                        img(src="static/img/general/image-news.jpg" alt="image news")
                
                    .news-article__image-grid-item
                        img(src="static/img/general/image-news.jpg" alt="image news")
                        
                        
                p Представители ритейлеров и компаний алкогольного рынка предложили схему продажи спиртного онлайн, рассказали три источника в отрасли. По словам одного из них, в консультациях участвовали представители компаний Simple, ДП "Трейд", "Утконос", X5 Retail Group, Auchan, Metro Cash & Carry и отраслевых объединений, таких как Ассоциация компаний розничной торговли (АКОРТ), Комитет производителей алкогольной продукции, Союз виноделов России.

                img(src="static/img/general/image-news-big.jpg" alt="image news")
                
                +share()
                
            .news-article__paginator
                a.news-article__paginator-item(href="http://www.elle.com/sd") <i class="mdi mdi-chevron-left"></i> Предыдущая новость
                a.news-article__paginator-item(href="http://www.elle.com/dsd") Следующая новость <i class="mdi mdi-chevron-right"></i>

                
