mixin jobs-info()

	section.section-box.jobs-info
		.container
			h2.jobs-info__title В данный момент мы ищем:
			
			dl.jobs-info__vacancy
				dt.jobs-info__vacancy-title.js-accordionJobs Менеджер по продажам (розничные магазины)
					i.mdi.mdi-chevron-right
				
				dd.jobs-info__content
					ul.jobs-info__list-statics
					
						li.jobs-info__statics 
							span.jobs-info__statics-label Уровень зарплаты:
							span.jobs-info__statics-value 50 000 - 200 000
												
						li.jobs-info__statics 
							span.jobs-info__statics-label Город:
							span.jobs-info__statics-value Смоленск
																			
						li.jobs-info__statics 
							span.jobs-info__statics-label Требуемый опыт: 
							span.jobs-info__statics-value от 3 до 5 лет
							
					article
							

						h6.jobs-info__content-title Должностные обязанности:

						ul
							li Развитие клиентской базы на выделенной территории
							li Поддержка и развитие существующих клиентов
							li Поиск новых клиентов
							li Выполнение плана продаж
							li Контроль дебиторской задолженности
							li Увеличение присутствия продукции компании в ассортименте клиента

						h6.jobs-info__content-title Мы предлагаем:

						ul
							li Интересная работа в крупной розничной компании
							li Перспективы профессионального и карьерного роста
							li Бесплатное обучение в Учебном центре компании, тренинги от ведущих мировых брендов
							li Оформление по ТК РФ (отпуск 28 календарных дней, оплата больничного листа)
							li Официальная заработная плата (по результатам собеседования)
							li Увеличение присутствия продукции компании в ассортименте клиента
							li Корпоративная униформа
							li Скидки на продукцию
							li График работы: 5/2 (выходные плавающие, 2 смены – 10:00-19:00, 13:00-22:00) и 2/2 (10:00 – 22:00)
							
						a.content__button(href="#") Написать
			
			dl.jobs-info__vacancy
				dt.jobs-info__vacancy-title.js-accordionJobs Менеджер проектов
					i.mdi.mdi-chevron-right
				
				dd.jobs-info__content
					ul.jobs-info__list-statics
					
						li.jobs-info__statics 
							span.jobs-info__statics-label Уровень зарплаты:
							span.jobs-info__statics-value 50 000 - 200 000
												
						li.jobs-info__statics 
							span.jobs-info__statics-label Город:
							span.jobs-info__statics-value Смоленск
																			
						li.jobs-info__statics 
							span.jobs-info__statics-label Требуемый опыт: 
							span.jobs-info__statics-value от 3 до 5 лет
							
					article
							

						h6.jobs-info__content-title Должностные обязанности:

						ul
							li Развитие клиентской базы на выделенной территории
							li Поддержка и развитие существующих клиентов
							li Поиск новых клиентов
							li Выполнение плана продаж
							li Контроль дебиторской задолженности
							li Увеличение присутствия продукции компании в ассортименте клиента

						h6.jobs-info__content-title Мы предлагаем:

						ul
							li Интересная работа в крупной розничной компании
							li Перспективы профессионального и карьерного роста
							li Бесплатное обучение в Учебном центре компании, тренинги от ведущих мировых брендов
							li Оформление по ТК РФ (отпуск 28 календарных дней, оплата больничного листа)
							li Официальная заработная плата (по результатам собеседования)
							li Увеличение присутствия продукции компании в ассортименте клиента
							li Корпоративная униформа
							li Скидки на продукцию
							li График работы: 5/2 (выходные плавающие, 2 смены – 10:00-19:00, 13:00-22:00) и 2/2 (10:00 – 22:00)
							
						a.content__button(href="#") Написать


							