mixin clients-services()

	section.section-box.index-services
		.container
			.index-services__grid
			
				.index-services__item.index-services__item--about
					h6.index-services__title Винный шкаф
					img(src="static/img/general/cs1.png")
						
				.index-services__item.index-services__item--about
					img(src="static/img/general/cs2.png")
					h6.index-services__title Дегустация<br>под ключ
									
				.index-services__item.index-services__item--about
					h6.index-services__title Банкет под ключ
					img(src="static/img/general/cs3.png")
					
				.index-services__item.index-services__item--about
					img(src="static/img/general/cs4.png")
					h6.index-services__title Подарочный ассортимент
								