.logotypes {


	&__title {
		margin: 1rem 0 1rem;
		color: $color-title;

		@include media($breakpoint-desktop) {
			margin-bottom: 3rem;
		}
		
		h2 {
			@include media($breakpoint-desktop) {
			display: inline-block;
			}
		}
	}
	
	
	&__grid {
		@include grid();	
		@include media($breakpoint-desktop) {
			@include grid();	
		}
	}
	
	&__item {
		margin-bottom: 3rem;
		
		@include media($breakpoint-mobile) {
			display: block;
			margin-bottom: 1rem;
			@include grid-columns(1, 2);
		}
				
		@include media($breakpoint-desktop) {
			@include grid-columns(1, 6);	
		}
		
		img {
			display: inline-block; 
			vertical-align: top;
			width: auto;
			height: auto;
			min-height: 1px;
			max-width: 100%;
		}
		
		
		&--brand {
			img {
				transition: .2s;
				filter: grayscale(100%); 
			}

			&:hover {
				img {
					filter: grayscale(0); 
				}
			}
		}
		
	}
	
	&__item-body {
		padding: 2rem;
		background: #fff;
		text-align: center;
		transition: .2s;
		
		
		&:hover {
			box-shadow: 0px 8px 24px 0px rgba(230, 231, 231, 0.4);
			
			.logotypes__item-title {
				color: $color-brand;
			}
			
		}
	}
	
	&__item-title {
		@include font(1.6rem, 1.8rem);
		font-family: $font-light;
		margin-top: 1rem;
		color: $color-base;
	}
	
	
	&__reed-more {
		margin: 3rem 0;
		text-align: center;
		
		a {
			@include font(1.6rem, 1.8rem);
			font-family: $font-bold;
			color: $color-brand;
			
			&:hover {
				color: $color-base;
			}
		}
	}
	
	
	&__paginator {
		margin-bottom: 2rem;
		
	}

	&__paginator-item {
		@include font(1.2rem, 1.4rem);
		@include hover(color, $color-brand2);
		color: $color-brand;

		i {
				position: relative;
				top: .2rem;
				font-size: 1.3rem;

				@include media($breakpoint-desktop) {
						font-size: 1.7rem;  
				}
		}

		@include media($breakpoint-desktop) {
				@include font(1.6rem, 1.8rem);

		}

}
	
}