mixin logotypes()

	.section-box.logotypes
		.container
			h2.logotypes__title Страна производитель
			
			.logotypes__grid
			
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Англия
			
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Китай
			
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Франция
						
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Италия
			
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Грузия
			
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Азербайджан
			
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Англия
			
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Китай
			
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Франция
						
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Италия
			
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Грузия
			
				a.logotypes__item(href="#")
					.logotypes__item-body
						img(src="static/img/general/flag1.png" alt="ang")
						.logotypes__item-title Азербайджан
						
			.logotypes__reed-more
				a(href="#") Показать все




	.section-box.logotypes
		.container
			.logotypes__title
				h2 Бренд
				form.title-search
					input(placeholder="Поиск по брендам")
					button
						i.mdi.mdi-magnify
			
			.logotypes__grid
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
			
			
				a.logotypes__item.logotypes__item--brand(href="#")
					.logotypes__item-body
						img(src="static/img/general/brand1.jpg" alt="brand")
						
			.logotypes__reed-more
				a(href="#") Показать все	
