mixin index-about()

	section.index-about
		.container
			h2.index-about__title О Компании
			article.index-about__content
				.index-about__image-block
					img(src="static/img/general/face.png")
					
				.index-about__text
				
					p Мы рады приветствовать Вас на сайте Компании «АСТ-интернэшнл инваэронмэнт». Наша Компания имеет честь предложить Вашему вниманию ассортимент премиального алкоголя со всего мира: вина Старого и Нового Света, крепкие спиртные напитки, имена которых стали легендой и многое другое.  Мы вышли на рынок для того, чтобы познакомить Вас с самым лучшим, что есть в мире вин и крепких спиртных напитков.
					
					.index-about__footer-txt
						p С каждым годом выходя на российский рынок алкоголя с новыми поставщиками, которые в свою очередь зарекомендовали себя на мировом уровне, мы становимся все более опытными и интересными своим партнерам и покупателям.
						
						p <b>Надеемся, что однажды познакомившись с нами, Вы станете нашими партнерами и друзьями.</b>

