mixin index-about()

	section.index-about
	
		.index-about__bg-r
			img(src="static/img/general/ab-r.png")
				
		.index-about__bg-l
			img(src="static/img/general/ab-l.png")
			
		.container
			h2.index-about__title О Компании
			article.index-about__content
				.index-about__image-block
					img(src="static/img/general/face.png" class="is-desktop" alt="ast")
					
				.index-about__text
				
					p Мы рады приветствовать Вас на сайте Компании «АСТ-интернэшнл инваэронмэнт». Наша Компания имеет честь предложить Вашему вниманию ассортимент премиального алкоголя со всего мира: вина Старого и Нового Света, крепкие спиртные напитки, имена которых стали легендой и многое другое.  Мы вышли на рынок для того, чтобы познакомить Вас с самым лучшим, что есть в мире вин и крепких спиртных напитков.
					
					.index-about__footer-txt
					
						.index-about__footer-content
					
							p С каждым годом выходя на российский рынок алкоголя с новыми поставщиками, которые в свою очередь зарекомендовали себя на мировом уровне, мы становимся все более опытными и интересными своим партнерам и покупателям.

							p <b>Надеемся, что однажды познакомившись с нами, Вы станете нашими партнерами и друзьями.</b>
							
						img(src="static/img/general/face.png" class="is-mobile"  alt="ast")

