mixin contacts()

    .contacts__fade.js-close-contect
    .contacts__mapy#mapy
    
    a.contacts__close-mapy(href="#") Показать контакты

    .contacts__box.js-close-contect
        .contacts__center-office
            .contacts__item <i class="mdi mdi-map-marker"></i> Россия, г. Москва,<br>Каширский проезд, д.23, стр. 4
            .contacts__item <i class="mdi mdi-cellphone-iphone"></i> +7 (495) 411 53 40 <a href="#">Заказать обратный звонок</a>
            
            a.contacts__stick.js-open-map(href="#")
    
    section.contacts__box.contacts__box--two.js-close-contect
        .container
            form.contact-form__box
                h3.contact-form__sub-title Обратная связь
                
                .form-input-grid           
                    .input-block
                        input(placeholder="Имя")               
                    .input-block
                        input(placeholder="Телефон")
                    
                            
                .form-input-grid           
                    .input-block
                        input(placeholder="E-mail")               
                    .input-block
                        input(placeholder="Компания")
                        
                .input-block
                    textarea(placeholder="Введите текст обращения")
                    
                .contact-form__button

                    a.in-contacts-button(href="#")
                        img(src="static/img/general/infile.png" alt="button")
                        .content
                            span Прикрепить файл


                    a.in-contacts-button(href="#")
                        img(src="static/img/general/in-mes.png" alt="button")
                        .content
                            span Отправить
                            
                            
    section.contacts__box.contacts__box--two.js-close-contect
        .container
            h2.contacts__title Контакты подразделений компании АСТ Интер
            .contacts__tabs-box
            
                .contacts__tab
                    .contacts__tab-box-body.contacts__tab-box-body--one.typography
                        .contacts__tab-title Отдел продаж:
                        p <b>Директор по продажам</b> - Зайцев Вадим (доб. 161)
                        p <b>Руководитель отдела HoReCa</b> - Казиев Акшин (доб.158)
                        p <b>Руководитель отдела Off-trade МО</b> -<br>Запольский Дмитрий (доб. 188)
                        p <b>Руководитель отдела корпоративных продаж</b> -<br>Скакалина Дария Сергеевна (доб.128)

            
                .contacts__tab
                    .contacts__tab-box-body.contacts__tab-box-body--two.typography
                        .contacts__tab-title Руководство:
                        p <b>Генеральный директор</b> - Рафаилов Леонид Соломонович
                        p <b>Зам. генерального директора</b> -<br>Мардахаев Зарахия Шамаилович
                        p <b>Коммерческий директор</b>  -<br>Мардахаев Бахтияр Ханукаевич

            
                .contacts__tab
                    .contacts__tab-box-body.contacts__tab-box-body--three.typography
                        .contacts__tab-title Отдел Импорта:
                        p <b>Директор по Импорту</b> - Савченко Андрей Васильевич (доб.361)
                        p <b>Зам. директора по Импорту</b> - Комаров Константин Николаевич (доб.360)

            
                .contacts__tab
                    .contacts__tab-box-body.contacts__tab-box-body--four.typography
                        .contacts__tab-title Отдел маркетинга:
                        p <b>Директор по маркетингу</b> - Ленская Анастасия (доб.146)


        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        