.search-block {
    position: relative;
    display: flex;
    width: 100%;

    input {
        @include font(1.2rem, 1.2rem);
        display: block;
        width: 100%;
        padding: 1.25rem 1.6rem;
        padding-right: 4.4rem;
        background: #fff;
        border: 0;
        
        @include placeholder {
            color: #939495;
        }
    }
    
    &__go {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 42px;
        background: transparent;
        border: 0;
        
        &:before {
            @include size(1.6rem);
            position: absolute; 
            top: 1.4rem;
            right: 1.6rem;
            display: block;
            content: '';
            
            background: {
            position: 50% 50%;
            size: contain;
            repeat: no-repeat;
            image: url(../img/general/search-icon.png);
        }
        }

    }
    
}