mixin forclients()

    .section-box.for-clients
        .container
            h2.for-clients__title Частным клиентам
            
            p Всем нашим частным клиентам мы предлагаем особые условия обслуживания, включающие специальные цены и скидки. Среди наших клиентов как небольшие частные компании, так и крупные государственные корпорации!            
            p <b>Квалифицированные специалисты корпоративного отдела «АСТ» предлагают самые выгодные варианты сотрудничества в таких востребованных областях как:</b>
            
            ul
            
                li <b>Обеспечение мероприятий</b> – «закрытие под ключ» продукцией наивысшего качества событий любых уровней и форматов –                              презентаций, корпоративных мероприятий, открытий, банкетов и фуршетов, загородных пикников.     
                
                li <b>Дегустации</b> – проведений выездных дегустаций и мастер-классов по любым направлениям и темам, связанным с происхождением вин и крепких алкогольных напитков и эногастрономии.         
                
                li <b>Подарки</b> – подбор напитков для формирования подарочных наборов сотрудникам и клиентам.        
                
                li <b>Эксклюзивный продукт</b> – у нас вы можете оформить заявку на отдельные партии продукции производства компании «Ладога», выпускаемые в ограниченном количестве, с корпоративной символикой Вашей компании, или с оригинальным дизайном (декорацией) бутылки.    
                
                li <b>Доставка</b> – мы доставим ваш заказ уже на следующий день после оплаты по указанному адресу и в удобное время.