.index-partners {
	
	&__grid {
		
		@include media($breakpoint-mobile) {
			padding: 0 1rem;			
		}
				
		@include media($breakpoint-desktop) {
			width: calc(100% + 2rem);
			margin-left: -1rem;			
		}
		

	}
	
	&__item {
		margin: 0 1rem;
		outline: none !important; // for slick
      text-align: center;
		
		img {
      display: inline-block;
			transition: .2s;
			filter: grayscale(100%); 
		}
		
		&:hover {
			img {
				filter: grayscale(0); 
			}
		}
		
	}
	
	.slick-nav {
		position: absolute;
		top: 0%;
		width: 2rem;
		height: 100%;
		cursor: pointer;
		z-index: 999;
		background: {
			position: 50% 50%;
			size: contain;
			image: url(../img/general/prev.png);
			repeat: no-repeat;
			color: #f7f7f7;
		}
		
		&:hover {
			background-image: url(../img/general/prev-h.png);
		}
	}
	
	
	.slick-prev {
		left: -.5rem;
		
		@include media($breakpoint-desktop) {
			left: -1rem;
		}
	}
		
		
	.slick-next {
		right: -.5rem;
		transform: rotate(180deg);
	}
	
}
