mixin index-partners()

	section.section-box.index-partners
		.container
			.index-partners__grid.js-index-partners__grid
			
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
						
				.index-partners__item
					img(src="static/img/general/part.jpg")
			