mixin about()
    
    section.section-box.news-article
        .container
            .news-article__box
                
                h2.news-article__title.news-article__title--about-title О Компании «АСТ Интер»

                p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. Сегодня компания является одним из лидеров среди поставщиков премиального алкоголя для Москвы и регионов России. Девиз компании – «Стабильность и долгосрочное сотрудничество».
                    
                a.reed-more-button(href="#") Подробнее ›
                        
    section.section-box.news-article
        .container
            .news-article__box-navigate
            
                a.js-about-1.news-article__box-navigate-item.news-article__box-navigate-item--one.is-active(href="#") Миссия
                        
                a.js-about-2.news-article__box-navigate-item.news-article__box-navigate-item--two(href="#") Стратегия
                        
                a.js-about-3.news-article__box-navigate-item.news-article__box-navigate-item--three(href="#") Цели и ценности
            
            
            
            
            .js-about-drop-1.news-article__box.news-article__box--about-drop.is-active
                
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. Сегодня компания является одним из лидеров среди поставщиков премиального алкоголя для Москвы и регионов России. Девиз компании – «Стабильность и долгосрочное сотрудничество».
                                    
                    p АСТ» является  дистрибьютором российского представительства Компании Pernod Ricard, а также таких импортеров как Nemiroff,  Bacardi-Martini, DIAGEO, ROUST Инк., MH и т.д.
                                                        
                    p С 2004 года в Компании создан отдел Импорта, который занимается ассортиментом вин и крепких спиртных напитков Старого  и Нового Света.
                            
            .js-about-drop-2.news-article__box.news-article__box--about-drop
                
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. Сегодня компания является одним из лидеров среди поставщиков премиального алкоголя для Москвы и регионов России. Девиз компании – «Стабильность и долгосрочное сотрудничество».
                                    
                    p АСТ» является  дистрибьютором российского представительства Компании Pernod Ricard, а также таких импортеров как Nemiroff,  Bacardi-Martini, DIAGEO, ROUST Инк., MH и т.д.
                        
            .js-about-drop-3.news-article__box.news-article__box--about-drop
                
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. Сегодня компания является одним из лидеров среди поставщиков премиального алкоголя для Москвы и регионов России. Девиз компании – «Стабильность и долгосрочное сотрудничество».

                    
    section.section-box.news-article.index-partners
        .container
            h2.news-article__title.news-article__title--about-title Награды
            .index-partners__grid.js-index-grid

                .index-partners__item
                    img(src="static/img/general/cup1.jpg")

                .index-partners__item
                    img(src="static/img/general/cup1.jpg")

                .index-partners__item
                    img(src="static/img/general/cup1.jpg")

                .index-partners__item
                    img(src="static/img/general/cup1.jpg")

                .index-partners__item
                    img(src="static/img/general/cup1.jpg")

                .index-partners__item
                    img(src="static/img/general/cup1.jpg")

                .index-partners__item
                    img(src="static/img/general/cup1.jpg")

                .index-partners__item
                    img(src="static/img/general/cup1.jpg")

                .index-partners__item
                    img(src="static/img/general/cup1.jpg")

                    
                    
    section.section-box.news-article.index-partners
        .container
            h2.news-article__title.news-article__title--about-title Сертификаты
            .index-partners__grid.js-index-grid

                .index-partners__item
                    img(src="static/img/general/sert1.jpg")

                .index-partners__item
                    img(src="static/img/general/sert1.jpg")

                .index-partners__item
                    img(src="static/img/general/sert1.jpg")

                .index-partners__item
                    img(src="static/img/general/sert1.jpg")

                .index-partners__item
                    img(src="static/img/general/sert1.jpg")

                .index-partners__item
                    img(src="static/img/general/sert1.jpg")

                .index-partners__item
                    img(src="static/img/general/sert1.jpg")

                .index-partners__item
                    img(src="static/img/general/sert1.jpg")

                    