mixin index-services()

	section.section-box.index-services
		.container
			.index-services__grid
			
				.index-services__item
					h6.index-services__title Импорт
					img(src="static/img/general/serv1.png")
						
				.index-services__item
					img(src="static/img/general/serv2.png")
					h6.index-services__title Клиентам
									
				.index-services__item
					h6.index-services__title Акции/Промо
					img(src="static/img/general/serv3.png")
												
				.index-services__item
					img(src="static/img/general/serv4.png")
					h6.index-services__title Дистрибуция
															
				.index-services__item
					h6.index-services__title Собственные <br> бренды
					img(src="static/img/general/serv5.png")
			