mixin about-video()

    .section-box.about-video
        .container
            iframe(src="https://player.vimeo.com/video/82847901" width="640" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)