mixin mediateka()

    
    .clients
    
        a.clients__item.clients__item--one-line(href="#")
            img(src="static/img/general/med1.jpg" alt="project")
            .clients__title
                div
                    .clients__description Видео-материалы
    
        
        a.clients__item.clients__item--one-line(href="#")
            img(src="static/img/general/med2.jpg" alt="project")
            .clients__title
                div
                    .clients__description Фото ассортимента
    
        a.clients__item.clients__item--one-line(href="#")
            img(src="static/img/general/med3.jpg" alt="project")
            .clients__title
                div
                    .clients__description Презентации ассортимента
    
        
        a.clients__item.clients__item--one-line(href="#")
            img(src="static/img/general/med4.jpg" alt="project")
            .clients__title
                div
                    .clients__description Фото мероприятий
