.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    
    &__form-search {
        position: relative;
        display: block;
        
        input {
            border: 2px solid $color-brand;
        }
    }
    
    &__box {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        
        li {
            width: 100%;
            text-align: center;
            
            &:not(:last-child) {
                margin-bottom: 1rem
            }
            
            a {
                @include font(1.8rem, 2rem);
                display: inline-block;
                font-family: $font-bold;
                color: $color-base;
                transition: .2s;
                padding: 1rem;
            }
        }
        
        
        .is-active {
            a {
                color: $color-brand;
            }
        }
        
    }
    
    &__footer {
        margin-top: auto;
    }
}


// close

.menu-close {
    position: fixed;
    left: 0;
    width: 5.3rem;
    height: 5.2rem;
    right: 0;
    display: none;
    background: #fff;
    border-right: 1px solid #ebebeb;
    z-index: 10000000000;
    
    span {
        position: absolute;
        top: 2.5rem;
        left: 1rem;
        display: block;
        width: 3.2rem;
        height: .5rem;
        border-radius: 2px;
        background: #d20d59;
        transform: rotate(135deg)
    }
        
    span:before {
        position: absolute;
        top: 0rem;
        left: 0rem;
        display: block;
        width: 3.2rem;
        height: .5rem;
        border-radius: 2px;
        background: $color-brand2;
        transform: rotate(270deg);
        content: "";
    }
    
}