mixin index-comments()

    section.section-box.index-comments
    
        .index-comments__bg-one
            img(src="static/img/general/bg-com1.png" alt="ast")
        
        .index-comments__bg-one.index-comments__bg-one--two
            img(src="static/img/general/com-bg.png" alt="ast")
    
        .container
            h2.index-comments__title О Компании
            
            .index-comments__slider.js-comments-slider
            
            
                .index-comments__item
                    .index-comments__ava-block
                        .index-comments__image
                            img(src="static/img/general/ava.jpg" alt="ast")
                        .index-comments__description
                            .index-comments__name Иван Иванов
                            .index-comments__company ООО «Wine time»
                    .index-comments__content
                        p С каждым годом выходя на российский рынок алкоголя с новыми поставщиками, которые в свою очередь зарекомендовали себя на мировом уровне, мы становимся все более опытными и интересными своим партнерам и покупателям.
            
            
                .index-comments__item
                    .index-comments__ava-block
                        .index-comments__image
                            img(src="static/img/general/ava.jpg" alt="ast")
                        .index-comments__description
                            .index-comments__name Иван Иванов
                            .index-comments__company ООО «Wine time»
                    .index-comments__content
                        p С каждым годом выходя на российский рынок алкоголя с новыми поставщиками, которые в свою очередь зарекомендовали себя на мировом уровне, мы становимся все более опытными и интересными своим партнерам и покупателям.
            
            
                .index-comments__item
                    .index-comments__ava-block
                        .index-comments__image
                            img(src="static/img/general/ava.jpg" alt="ast")
                        .index-comments__description
                            .index-comments__name Иван Иванов
                            .index-comments__company ООО «Wine time»
                    .index-comments__content
                        p С каждым годом выходя на российский рынок алкоголя с новыми поставщиками, которые в свою очередь зарекомендовали себя на мировом уровне, мы становимся все более опытными и интересными своим партнерам и покупателям.
            
            
                .index-comments__item
                    .index-comments__ava-block
                        .index-comments__image
                            img(src="static/img/general/ava.jpg" alt="ast")
                        .index-comments__description
                            .index-comments__name Иван Иванов
                            .index-comments__company ООО «Wine time»
                    .index-comments__content
                        p С каждым годом выходя на российский рынок алкоголя с новыми поставщиками, которые в свою очередь зарекомендовали себя на мировом уровне, мы становимся все более опытными и интересными своим партнерам и покупателям.
