.index-news {
	
	&__title {
		margin-bottom: 2rem;
		text-align: left;
		color: $color-title;
		
		@include media($breakpoint-desktop) {
					margin-bottom: 3rem;
		}
		
	}
	
	&__grid {
		@include grid();
		align-items: stretch;
      
      &--page-news {
          .index-news__block-one,
          .index-news__block-two {
              @include media($breakpoint-desktop) {
                margin-bottom: 3rem;
              }              
              
              @include media($breakpoint-mobile) {
                margin-bottom: 1rem;
              }
          }
      }  
	}
	
	&__block-one {
		position: relative;
		@include grid-columns(5, 5);

		
		@include media($breakpoint-mobile) {
					margin-bottom: 1rem;
		}			
		@include media($breakpoint-desktop) {
			@include grid-columns(2.5, 5);
		}	
		
		img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
	}
	
	&__tag {
		position: absolute;
		display: inline-block;
		top: 1rem;
		left: 1.5rem;
		font-family: $font-bold;
		color: #fff;
		text-transform: uppercase;
		z-index: 999;
		
		background: {
			size: contain;
			position: center right;
			repeat: no-repeat;
		}
		
		@include media($breakpoint-desktop) {
			@include font(1.3rem, 1.3rem);
        top: 1.6rem;
        left: 2.5rem;
		}
		
		
		&--one {
      padding: 1.2rem 2.2rem 1.6rem  0rem;
      background-image: url(../img/general/title1.png); 
        
			@include media($breakpoint-desktop) {
				padding: 1.8rem 2.6rem 2rem  0rem;
				
			}
		}
				
		&--two {
        padding: 1.8rem 1.6rem 1.8rem  0rem;
				background-image: url(../img/general/title2.png);
        
			@include media($breakpoint-desktop) {
				padding: 2.3rem 2.3rem 2.2rem  0rem;
			}
		}
						
		&--three {
        color: $color-base;
        background-image: url(../img/general/title3.png);
        padding: 1.4rem 0.8rem 1.6rem  0rem;
        
			@include media($breakpoint-desktop) {
				padding: 1.7rem 1.1rem 2rem  0rem;
			}
		}
		

	}
	
	
	&__block-one-content {
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		padding: 0 1.5rem;
		width: 100%;
		
		@include media($breakpoint-desktop) {
			padding: 0 4.5rem;
		}
		
		
		&--two {
			padding: 0 1rem;
			
			@include media($breakpoint-desktop) {
				padding: 0 3rem;
			}
		}
	}
	
	
	&__one-title {
		@include font(1.2rem, 1.5rem);
		font-family: $font-light;
		color: #fff;
    padding-bottom: 1rem;
		border-bottom: 1px solid rgba(255,255,255, .8);
		
		@include media($breakpoint-desktop) {
			@include font(2.5rem, 3.5rem);
			padding-bottom: 1.5rem;
		}
		
	}
		
	&__two-title {
		@include font(1rem, 1.4rem);
		padding: 1rem;
		font-family: $font-light;
		color: #fff;
    margin-bottom: 3rem;
		
		@include media($breakpoint-desktop) {
			@include font(1.8rem, 2.4rem);
			text-align: center;
			padding: 3rem 3rem 0;
			margin-bottom: 6rem;
        
		}
		
	}
			
	&__three-title {
		@include font(1rem, 1.2rem);
		padding: 0 1rem;
		margin-bottom: 1rem;
		font-family: $font-light;
		text-align: center;
		color: $color-base;
		
		@include media($breakpoint-desktop) {
			@include font(2.3rem, 2.8rem);
			margin-bottom: 2rem;
			text-align: center;
		}
		
	}
	
	&__statistics {
		display: flex;
		
		&--two {
			justify-content: space-between;
			margin-top: auto;
		}
	}
		
	&__statistics-item {
		@include font(1rem, 1.6rem);
		padding: 0.5rem 0;
		color: #bababa;
		white-space: nowrap;
		
		&:not(last-child) {
			margin-right: 2rem;
		}
		

		
		@include media($breakpoint-desktop) {
			padding: 1.8rem 0;
			
			&:not(last-child) {
				margin-right: 5rem;
			}
			
		}
		
		.ico {
			position: relative;
			display: inline-block;
			margin-right: .5rem;
			background: {
				size: contain;
				position: 50% 50%;
				repeat: no-repeat;
			}		
			
			@include media($breakpoint-desktop) {
				margin-right: 1rem;
			}
			
		
		
		&--time {
			@include size(1rem);
			top: .2rem;
			background-image: url(../img/general/clock.png);
			
			@include media($breakpoint-desktop) {
				top: .4rem;
				width: 1.8rem;
				height: 1.6rem;
			}
			
			
		}
			
		&--oko {
			top: .2rem;
			width: 1.4rem;
			height: 1rem;
			background-image: url(../img/general/oko.png);
			
			@include media($breakpoint-desktop) {
				top: .4rem;
				width: 1.8rem;
				height: 1.6rem;
			}
		}
		
			
		}

		
				

		
		&--time {
			@include size(0.9rem);
		}
				
		&--oko {
			width: 1.5rem;
			height: 0.9rem;
		}
		
				
		
		
		
	}
	
	
	
		
	&__block-two {
		@include grid-columns(2.5, 5);
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;

      
      
      
		@include media($breakpoint-desktop) {
			@include grid-columns(1.25, 5);
		}		
		img {
			width: 100%;
			vertical-align: top;
		}
		

		
	}
	
	
	&__block-two-content {
		position: relative;
		align-items: stretch;
		width: 100%;	
		background: #353f69;
      
		
    &--light {
        background: #fff;
        
        .index-news__two-title {
            color: $color-base;
        }
    } 
      
	}
		
	&__block-three-content {
		position: relative;
		align-items: stretch;
		width: 100%;	
		background: #fff;
	}
	
	&__options {
		@include grid();
		padding: 0 2rem 2rem;
	}
		
	&__options-item {
		@include grid-columns(1,2);
		@include font(.8rem, 1.2rem);
		
		@include media($breakpoint-desktop) { 
			@include font(1.3rem, 2.4rem);
		}
		
		
		
		&--title {
			color: #888888;
			text-align: right;
		}
				
		&--value {
			color: $color-base;
			text-align: left;
		}
		
	}
    
    
    &__button-block {
        text-align: center;
    }
    
		&__button {
				display: inline-block;
				@include font(1.6rem, 1.8rem);
				width: 25.6rem;
				text-align: right;
				color: #fff;
				background: {
						position: 50% 50%;
						size: contain;
						repeat: no-repeat; 
				}
				
				&:first-child {
					@include media($breakpoint-desktop) { 
						margin-right: 3rem;
					}
				}
        
        @include media($breakpoint-mobile) {
					display: block;	
					@include font(1.2rem, 1.6rem);
					text-align: center;
        }
				
				&:hover {
						opacity: .8;
				}
				
				
				&--pink {
						background-image: url(../img/general/button-pink.png); 
						padding: 2.4rem 1.7rem 2.4rem 1.7rem;
						text-align: center;
					
					span {
						margin-right: -1rem;
					}
            
            @include media($breakpoint-mobile) {
								width: auto;
                padding: 1.4rem 1.7rem 1.4rem 2.8rem;
								span {
									margin-right: 0;
								}
            }
				}
				
				&--blue {
						background-image: url(../img/general/button-blue.png); 
						padding: 2.4rem 4.6rem 2.4rem 2rem;
				}
			
            @include media($breakpoint-mobile) {
								width: auto;
                padding: 1.4rem 1.7rem 1.4rem 2.8rem;
							margin-bottom: 1rem;
            }
			
		}

    
	
	
	
	
}