mixin index-news()

	section.section-box.index-news
		.container
			h2.index-news__title Новости
			.index-news__grid
				a.index-news__block-one(href="#")
					img(src="static/img/general/vine.jpg" alt="vine")
					.index-news__tag.index-news__tag--one новости
					.index-news__block-one-content
						.index-news__one-title Beaujolais Nouveau от дома <br> Trenel в России
						.index-news__statistics
						
							.index-news__statistics-item <i class="ico ico--time"></i> 16/01/2017 
													
							.index-news__statistics-item <i class="ico ico--oko"></i> 450
							
							
						
						
				
				a.index-news__block-two(href="#")
					.index-news__tag.index-news__tag--two Акция
					.index-news__block-two-content
						img(src="static/img/general/vine2.jpg" alt="vine")
						.index-news__two-title Fruko Schulz Piña Colada – золотая медаль в Лондоне
						.index-news__block-one-content.index-news__block-one-content--two
							.index-news__statistics.index-news__statistics--two

								.index-news__statistics-item <i class="ico ico--time"></i> 16/01/2017 

								.index-news__statistics-item <i class="ico ico--oko"></i> 450

				
				a.index-news__block-two(href="#")
			
			