mixin clients-comment()

    section.section-box.index-comments.index-comments--for-clients
        .container
            h2.index-comments__title Вам с удовольствием помогут

            .index-comments__slider.js-comments-slider


                .index-comments__item
                    .index-comments__ava-block
                        .index-comments__image
                            img(src="static/img/general/ava.jpg" alt="ast")
                        .index-comments__description
                            .index-comments__name Потапов Вадим Вениаминович
                            .index-comments__company Корпоративный менеджер АСТ Интер
                    .index-comments__content
                        p Всем нашим корпоративным и оптовым покупателям мы предлагаем особые условия обслуживания, включающие специальные цены и скидки. Среди наших клиентов как небольшие частные компании, так и крупные государственные корпорации!
                        a.index-comments__write(href="#")
                            img(src="static/img/general/write-button.png" alt="button")
                            .content
                                span Написать


                .index-comments__item
                    .index-comments__ava-block
                        .index-comments__image
                            img(src="static/img/general/ava.jpg" alt="ast")
                        .index-comments__description
                            .index-comments__name Потапов Вадим Вениаминович
                            .index-comments__company Корпоративный менеджер АСТ Интер
                    .index-comments__content
                        p Всем нашим корпоративным и оптовым покупателям мы предлагаем особые условия обслуживания, включающие специальные цены и скидки. Среди наших клиентов как небольшие частные компании, так и крупные государственные корпорации!
                        a.index-comments__write(href="#")
                            img(src="static/img/general/write-button.png" alt="button")
                            .content
                                span Написать
