mixin shares()

    section.section-box.projects
        .container
            h2.projects__title Акции
            
            .projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/shares1.jpg" alt="project")     
                .projects__content.projects__content--shares
                    h3.projects__content-title Буржуа - подарки молодоженам
                    p <b>С 25.02.2017 г. по 31.03.2017 г.</b> при покупке любого шампанского «Буржуа» в любом количестве, но не менее одной коробки, молодожены получат в подарок шесть бутылок шампанского «Буржуа Золотое».
                    
                    +static-bar()
                                        
            .projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/shares1.jpg" alt="project")     
                .projects__content.projects__content--shares
                    h3.projects__content-title Выиграй бочку настоящего домашнего вина!
                    p <b>С 25.02.2017 г. по 31.03.2017 г.</b> при покупке любого шампанского «Буржуа» в любом количестве, но не менее одной коробки, молодожены получат в подарок шесть бутылок шампанского «Буржуа Золотое».
                    
                    +static-bar()
                                        
            .projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/shares1.jpg" alt="project")     
                .projects__content.projects__content--shares
                    h3.projects__content-title Буржуа - подарки молодоженам
                    p <b>С 25.02.2017 г. по 31.03.2017 г.</b> при покупке любого шампанского «Буржуа» в любом количестве, но не менее одной коробки, молодожены получат в подарок шесть бутылок шампанского «Буржуа Золотое».
                    
                    +static-bar()
                                        
            .projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/shares1.jpg" alt="project")     
                .projects__content.projects__content--shares
                    h3.projects__content-title Буржуа - подарки молодоженам
                    p <b>С 25.02.2017 г. по 31.03.2017 г.</b> при покупке любого шампанского «Буржуа» в любом количестве, но не менее одной коробки, молодожены получат в подарок шесть бутылок шампанского «Буржуа Золотое».
                    
                    +static-bar()
                                        
            .projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/shares1.jpg" alt="project")     
                .projects__content.projects__content--shares
                    h3.projects__content-title Буржуа - подарки молодоженам
                    p <b>С 25.02.2017 г. по 31.03.2017 г.</b> при покупке любого шампанского «Буржуа» в любом количестве, но не менее одной коробки, молодожены получат в подарок шесть бутылок шампанского «Буржуа Золотое».
                    
                    +static-bar()
                                        
            .projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/shares1.jpg" alt="project")     
                .projects__content.projects__content--shares
                    h3.projects__content-title Буржуа - подарки молодоженам
                    p <b>С 25.02.2017 г. по 31.03.2017 г.</b> при покупке любого шампанского «Буржуа» в любом количестве, но не менее одной коробки, молодожены получат в подарок шесть бутылок шампанского «Буржуа Золотое».
                    
                    +static-bar()
                                        
            .projects__grid(href="#")
                .projects__image
                    img(src="static/img/general/shares1.jpg" alt="project")     
                .projects__content.projects__content--shares
                    h3.projects__content-title Буржуа - подарки молодоженам
                    p <b>С 25.02.2017 г. по 31.03.2017 г.</b> при покупке любого шампанского «Буржуа» в любом количестве, но не менее одной коробки, молодожены получат в подарок шесть бутылок шампанского «Буржуа Золотое».
                    
                    +static-bar()
                            
                    
            .index-news
                .container
                    .index-news__button-block
                        a.index-news__button.index-news__button--blue Открыть еще акции