mixin mainbg2()

    .main-left.main-left--bg2
        img(src="static/img/general/main-left2.png" alt="bg")
    
    .main-right.main-right--bg2
        img(src="static/img/general/main-right2.png" alt="bg")
