mixin incontact()

    .section-box.in-contact
        .in-contact__before
        .container
            h2.in-contact__title Частным клиентам
            
            .in-contact__box
                .in-contact__ph

                    p Для получения более подробной информации о специальных ценах и акциях, пожалуйста, свяжитесь с нашими менеджерами 
                    a.in-contacts-button(href="#")
                        img(src="static/img/general/in-contacts.png" alt="button")
                        .content
                            span.is-desktop Форма обратной связи
                            span.is-mobile Написать
                            
                            
    .section-box.clients.clients--for-clients
    
        a.clients__item(href="#")
            img(src="static/img/general/cl1.jpg" alt="project")
            .clients__title
                div
                    .clients__description Винный шкаф
    
        a.clients__item(href="#")
            img(src="static/img/general/cl2.jpg" alt="project")
            .clients__title
                div
                    .clients__description Дегустация под ключ
    
        a.clients__item(href="#")
            img(src="static/img/general/cl3.jpg" alt="project")
            .clients__title
                div
                    .clients__description Банкет под ключ
    
        a.clients__item(href="#")
            img(src="static/img/general/cl4.jpg" alt="project")
            .clients__title
                div
                    .clients__description Подарочный ассортимент
