mixin index-slider()

    .index-slider
    
        .index-slider__item
            img(src="static/img/general/slide1.jpg" alt="slideAst")
            .index-slider__mask
                img(src="static/img/general/slidermask.png" alt="slideAst")
            .index-slider__content
                .container
                    .index-slider__description Новые поставщики продукции<br>уже в январе 2017
                    .index-slider__title НОВЫЕ ДОМА<br>КРАСНЫХ ВИН
                    
        .index-slider__item
            img(src="static/img/general/slide2.jpg" alt="slideAst")
            .index-slider__mask
                img(src="static/img/general/slidermask.png" alt="slideAst")
            .index-slider__content
                .container
                    .index-slider__description Новые поставщики продукции<br>уже в январе 2017
                    .index-slider__title НОВЫЕ ДОМА<br>КРАСНЫХ ВИН
                    
        .index-slider__item
            img(src="static/img/general/slide3.jpg" alt="slideAst")
            .index-slider__mask
                img(src="static/img/general/slidermask.png" alt="slideAst")
            .index-slider__content
                .container
                    .index-slider__description Новые поставщики продукции<br>уже в январе 2017
                    .index-slider__title НОВЫЕ ДОМА<br>КРАСНЫХ ВИН
                