mixin history()

    section.section-box.history
        .container
            h2.history__title АСТ Интер в 2017 году:
            
            p На сегодняшний момент Компания также является дистрибутором таких крупных компаний как Diageo, Maxxium. Одним из значительных достижений в работе Компании стало присвоение звания «Лучший дистрибутор 2005 года» по версии Национальной Алкогольной Ассоциации.
            
            p На сегодняшний день «АСТ-интернэшнл» - это готовая команда профессионалов, которая насчитывает более 300 человек. Общий ассортимент Компании на сегодняшний день насчитывает более 3000 наименований алкоголя (все существующие категории и ценовые ниши современного рынка).
            
            
    section.section-box.history
        .container
        
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__button.history__button--2025 2025 
                .history__years-item.history__years-item--right
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                            
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                .history__years-item.history__years-item--right
                    .history__button.history__button--2017 2017
                           
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__button.history__button--2013 2013 
                .history__years-item.history__years-item--right
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                            
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                .history__years-item.history__years-item--right
                    .history__button.history__button--2011 2011
                           
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__button.history__button--2010 2010 
                .history__years-item.history__years-item--right
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                            
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                .history__years-item.history__years-item--right
                    .history__button.history__button--2007 2007
                           
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__button.history__button--2003 2003
                .history__years-item.history__years-item--right
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                            
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                .history__years-item.history__years-item--right
                    .history__button.history__button--1999 1999
                           
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__button.history__button--1996 1996
                .history__years-item.history__years-item--right
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                            
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                .history__years-item.history__years-item--right
                    .history__button.history__button--1993 1993
                           
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__button.history__button--1992 1992
                .history__years-item.history__years-item--right
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                            
            .history__years-grid        
                .history__years-item.history__years-item--left
                    .history__years-text Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89
                .history__years-item.history__years-item--right
                    .history__button.history__button--1991 1991
                    
         
            
    section.section-box.history
        .container
        
            .history__about   
                .history__about-image 
                    img(src="static/img/general/vine-histori1.jpg" alt="vine-histori")
                
                .history__about-text
                    p Компания «АСТ-интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Зародившись в период становления частного бизнеса в России «АСТ-89» в 1991 году открывает направление по работе с премиальным алкоголем. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент.
            
                        
            .history__about   
                .history__about-image 
                    img(src="static/img/general/vine-histori2.jpg" alt="vine-histori")
                
                .history__about-text
                    p В 1996 году Компания становится основным и крупнейшим дистрибутором ассортимента Компании «Довгань». И уже через год «АСТ-интернэшнл» получает права на дистрибуцию пакета Компании Русский Стандарт. В этот период в Компании происходят структурные изменения – открывается отдел розничных продаж и отдел по работе с корпоративными и частными клиентами. В 2002 году Компания открывает свой первый проект.  
            
                        
            .history__about   
                .history__about-image 
                    img(src="static/img/general/vine-histori3.jpg" alt="vine-histori")
                
                .history__about-text
                    p В 2002 году Компания открывает свой первый проект.  «Дугладзе» - широкий спектр алкогольной продукции производства Грузии: вино, шампанское, чача, коньяк. А в 2004 году был открыт второй крупный проект «Импорт Вин», который занялся ассортиментом вин Старого и Нового Света. Первой маркой привезенного вина стал ассортимент винного дома Барона де Ротшильда.
            
                        
            .history__about   
                .history__about-image 
                    img(src="static/img/general/vine-histori4.jpg" alt="vine-histori")
                
                .history__about-text
                    p На сегодняшний день Компания является дистрибутором производителей всех винодельческих регионов мира. Следующим шагом в развитии дистрибуторской ассортиментной политики стало подписание эксклюзивных контрактов с такими компаниями, как Немирофф, MHWR, Bacardi Rus.
            
                