mixin leadership()

    section.section-box.leadership
        .container
            h2.leadership__title Руководство компании АСТ Интер			
            .leadership__grid
            
                .leadership__grid-item
                    .leadership__image
                        img(src="static/img/general/lead1.png" alt="ast")
                        
                    .leadership__name Потапов Вадим Вениаминович
                    .leadership__description Основатель и вице-президент АСТ Интер
                    a.leadership__button(href="#") Написать
                    
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. 
        
                  
                .leadership__grid-item
                    .leadership__image
                        img(src="static/img/general/lead2.png" alt="ast")
                        
                    .leadership__name Потапов Вадим Вениаминович
                    .leadership__description Первый заместитель генерального директора, <br> руководитель бизнес-направления «Продажи»
                    a.leadership__button(href="#") Написать
                    
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. 
        
              
                  
                .leadership__grid-item
                    .leadership__image
                        img(src="static/img/general/lead1.png" alt="ast")
                        
                    .leadership__name Потапов Вадим Вениаминович
                    .leadership__description Основатель и вице-президент АСТ Интер
                    a.leadership__button(href="#") Написать
                    
                    p «АСТ – интернэшнл инваэронмэнт» является структурной единицей холдинга АСТ-89, в который входит более 19 компаний. Компания «АСТ – Интернэшнл Инваэронмент» образовалась в 1991 году. В самом начале приоритетным направлением деятельности были оптовые продажи, но позже произошел переход на розничный сегмент. 
        
      