@charset "UTF-8";

// 1. Properties for sticky footer

// Html
html {
  height: 100%; // 1
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
    
}

// Body
body {
  position: relative; // 1
  display: flex;
  flex-direction: column;
  min-height: 100%;   // 1
  background: #f7f7f7;
  font-size: 62.5%;
  color: $color-base;
  font-family: $font-light;
}

footer {
  margin-top: auto;
}
.page-wrapper {
    position: relative;
}

.section-box {
		margin: 4rem 0;
	
		@include media($breakpoint-desktop) {
			margin: 5rem 0;
        z-index: 99;
		}
	
	&:last-child {	
		@include media($breakpoint-desktop) {
				margin: 5rem 0 7rem;
		}
	}
}




// Links
a {
  @include transition(all $transition-duration-base);
  color: $color-brand;
  text-decoration: none;
  outline: none;
}

// B
b {
    font-family: $font-bold;
    font-weight: 400;

}

// Blockquote
blockquote {
  margin: 0;
}

// Fieldset
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

// Figure
figure {
  margin: 0;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}


h2 {
  @include h2;
}

h6 {
  @include h6;
}


// Images
img {
  max-width: 100%;

  &[width],
  &[height] {
    max-width: none;
  }
}

// Lists
dl, dd,
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Paragraph
p {
  	@include font(1rem, 1.4rem);
		margin: 0;
		&:not(:last-child) {
				margin-bottom: 2rem;
		}		
		&:not(:first-child) {
				margin-top: 2rem;
		}
	
	@include media($breakpoint-desktop) {
		@include font(1.8rem, 2.4rem);
	}
		&:not(:first-child) {
				margin-top: 1.4rem;
		}	
	
		&:not(:last-child) {
				margin-top: 0;
				margin-bottom: 1.4rem;
		}		

	
}

.typography {
    
    a {
        color: $color-brand;
        transition: .2s;
        
        &:hover {
            color: $color-brand2
        }
    } 
        
    a:visited {
        color: $color-brand2;
    } 
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include h2();
        color: #252161;
    }

    
    h2 {  
        margin: 1.5rem 0;
        
        @include media($breakpoint-desktop) {
            @include font(2.4rem, 2.8rem);
            margin: 2.5rem 0
        }                     
    }
        
    h3 {
        margin: 1.5rem 0;
        @include media($breakpoint-desktop) {
            @include font(2rem, 2.4rem);
            margin: 2.5rem 0;
        }                     
    }
        
    h4 {
        margin: 1.5rem 0;
        @include media($breakpoint-desktop) {
            @include font(1.8rem, 2.2rem);
            margin: 2.5rem 0;
        }                     
    }
        
    h5 {
        margin: 1.5rem 0;
        text-transform: none;
        
        @include media($breakpoint-desktop) {
            @include font(1.7rem, 2.1rem);
            margin: 2.5rem 0;
        }                     
    }
        
    h6 {
        margin: 1.5rem 0;
        text-transform: none;
        
        @include media($breakpoint-desktop) {
            @include font(1.5rem, 1.8rem);
            margin: 2.5rem 0;
        }                     
    }
    
    

    ul {
        @include font(1rem, 1.4rem);
        font-family: $font-light;
        margin: 0;

        @include media($breakpoint-desktop) {
            @include font(1.8rem, 2.4rem);
        }


        &:not(:last-child) {
            margin-bottom: 2rem;
        }		
        &:not(:first-child) {
            margin-top: 2rem;
        }


        li {
            position: relative;
            padding-left: 1rem;

            &:not(:first-child) {
                margin-top: 2.5rem;
            }

            @include media($breakpoint-desktop) {
                padding-left: 3rem;  
            }



            &:before {
                @include size(.4rem);
                position: absolute;
                display: block;
                left: 0;
                top: .2rem;
                background: $color-brand;
                border-radius: 50%;
                content: '';

                @include media($breakpoint-desktop) {
                    top: .9rem;

                }

            }

            b {
                font-family: $font-bold;
            }

        }

    }
  
    ol {
        @include font(1rem, 1.4rem);
        font-family: $font-light;
        margin: 0;
        counter-reset: li;

        @include media($breakpoint-desktop) {
            @include font(1.8rem, 2.4rem);
        }


        &:not(:last-child) {
            margin-bottom: 2rem;
        }		
        &:not(:first-child) {
            margin-top: 2rem;
        }


        li {
            position: relative;
            padding-left: 1rem;

            &:not(:first-child) {
                margin-top: 2.5rem;
            }

            @include media($breakpoint-desktop) {
                padding-left: 3rem;  
            }

            &:before {
                content: counter(li);
                content: counter(li) '. ';
                counter-increment: li;
                position: absolute;
                top: .2rem;
                left: 0;
                display: inline-block;
                color: $color-brand;
                font-family: $font-bold;
                margin-right: 1rem;  

                @include media($breakpoint-desktop) {
                    margin-right: 3rem;  
                }

            }

            b {
                font-family: $font-bold;
            }

        }

    }
  
}


// Small
small {
  @include text-small;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Textarea
textarea {
  resize: none;
}

