// GUI stylies of the project
// For example, styles of the links, buttons and so on.


.styck-r {
	display: inline-block;
	width: 6px;
	height: 11px;
	background: url(../img/general/stick-r.png);
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
}


.content__button {
		@include font(1.2rem, 1.4rem);
		display: inline-block;
		font-family: $font-bold;
		color: #fff;
		padding: 2.2rem 4rem 2rem;
		text-transform: uppercase;    
		background: {
				position: 50% 50%;
				size: contain;
				repeat: no-repeat;
				image: url(../img/general/button-lead.png);
		}

		@include media($breakpoint-desktop) {
				@include font(1.6rem, 1.8rem);
				padding: 2.6rem 6rem 2.2rem;
		}


}


.title-search {
		position: relative;
		top: -.2rem;
    background: #fff;
    color: $color-base;
		margin-top: 2rem;
		display: block;
    
    input {
        @include font(1.2rem, 1.2rem);
        padding: 1.2rem 1.4rem;
        display: block;
        width: 100%;
				border: 0;
        background: #fff;
    }

		> button {
			position: absolute;
			background: transparent;
			border: 0;
			top: .5rem;
			right: 0;

			i {
				@include font(2.2rem, 2.2rem);
				color: $color-border;
				display: inline-block;
				padding: .5rem;
				transition: .2s;

				&:hover {
					color: $color-brand;
				}

			}
		}

	@include media($breakpoint-desktop) {
	   display: inline-block;
      min-width: 41.5rem;
			margin-top: 0rem; 
			margin-left: 3rem;
	}
	

	
}



.in-contacts-button {
    position: relative;
    display: inline-block;
    transition: .2s;

    &:hover {
        opacity: .85;
    }

    img {
        vertical-align: top;
        height: auto;
        width: 12rem;

        @include media($breakpoint-desktop) {
            width: auto;
        }
    }

    span {
        @include font(1.2rem, 1.2rem);

        @include media($breakpoint-desktop) {
            @include font(1.7rem, 1.7rem);
        }
        @include align-self(center);
        color: #fff;
    }  
    .content {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include size(100%);
        position: absolute;
        top: 0;
        left: 0;

    }

}


.reed-more-button {
    @include font(1.2rem, 1.2rem);  
    display: inline-block;
    padding: 1rem 2.4rem;
    color: #888888;
    border: 1px solid;
    transition: .2s;
    
    @include media($breakpoint-desktop) {
        @include font(1.4rem, 1.4rem); 
        padding: 1.8rem 3.4rem;    
    }
    
    &:hover {
        color: $color-brand;
    }


}



