// GUI stylies of the project
// For example, styles of the links, buttons and so on.


.styck-r {
	display: inline-block;
	width: 6px;
	height: 11px;
	background: url(../img/general/stick-r.png);
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
}